
// Variables:
@use "global/variables" as *;


// Gallery Items --------------------

// Grid container:
#rssite-main.gallery-grid {
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 8rem; // Also consider decreasing this, especially as the number of images grows
    gap: clamp(0.5rem, 1vmax, 1rem);
    @media (max-width: $media-width-md) {
        margin: 1rem;
    }
    @media (max-width: $media-width-sm) {
        margin: 0.5rem;
    }
}
// NOTE: grid-auto-rows could be 20vh, but that is zoom invariant

// Background image:
body {
    background-attachment: fixed; // Also consider scroll
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("./costelas.webp");
}


// Unfocused state:
.gallery-item {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
        cursor: pointer;
        transition: opacity 0.3s ease-out; // Changes to 0 when overlay is active, via module.js
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.25);
    }
}

// Hole item:
.gallery-hole {
    // Option one: add a background image to holes
    background-image: url("./costelas.webp");
    background-size: cover;
    background-position: center;
    // Option two: just make holes transparent
    //opacity: 0;
}



// Overlay --------------------
.gallery-overlay {
    --go-margin: 1rem;
    --go-padding: 1rem;
    --go-gap: clamp(0.5rem, 4vmax, 4rem);
    @media (max-width: $media-width-md) {
        --go-margin: 0.5rem;
        --go-padding: 0.5rem;
    }

    // Visibility:
    visibility: hidden; 
    opacity: 0;
    transition: opacity 1s cubic-bezier(0.2, 0, 0.3, 1);
    &[aria-hidden="false"] {
        visibility: visible;
        opacity: 1;
    }

    // Structure:
    position: fixed;
    z-index: 1000;
    padding: var(--go-padding);
    margin: var(--go-margin);
    width: max(calc(100 * var(--vw) - 2 * var(--go-margin)), 16rem);
    height: calc(100dvh - 2 * var(--go-margin));
    box-sizing: border-box;

    // Style:
    background: color-mix(in srgb, var(--darkorange) 80%, transparent);
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.5);
    @media (max-width: $media-width-md) {
        font-size: 0.9em;
    }

    // Content structure:
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--go-gap);

    flex-direction: row;
    @media (max-width: $media-width-md) {
        flex-direction: column;
    }

    .go-img {
        --go-prop: 60%;
        object-fit: contain;
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.5);
        min-width: 8rem;
        min-height: 8rem;
    }
    .go-info {
        --go-prop: 40%;
        padding: 1rem;
        background-color: color-mix(in srgb, var(--gray) 75%, transparent);
        box-shadow: 1px 2px 4px 2px rgba(0, 0, 0, 0.5);
    }
    .go-img, .go-info {
        --go-inline-size: calc(var(--go-prop) - var(--go-gap) - var(--go-padding));
        --go-block-size: calc(100% - var(--go-gap));
        max-width: var(--go-inline-size);
        max-height: var(--go-block-size);
        @media (max-width: $media-width-md) {
            max-width: var(--go-block-size);
            max-height: var(--go-inline-size);
        }
    }

    // Content text:
    .go-title {
        border-bottom: 1px solid var(--darkgray);
    }
    .go-text {
        margin-top: 0.5rem;
    }
    .go-wherewhen {
        margin-top: 0.25rem;
        width: 100%;
        display: inline-flex;
        justify-content: space-between;

        * {
            font-style: italic;
            font-size: 0.9em;
        }
    }

    // Button:
    .go-closer {
        position: absolute;
        z-index: 1001;
        top: var(--go-padding);
        right: var(--go-padding);
        cursor: pointer;

        svg {
            filter: drop-shadow(1.5px 3px 1.5px rgba(0, 0, 0, 0.65));
            width: 30px;
            height: 30px;
            fill: var(--gray);
        }
    }
}


// Item Span Classes --------------------
@for $i from 2 through 4 {
    .w-#{$i} {
        grid-column-end: span #{$i};
    }
    .h-#{$i} {
        grid-row-end: span #{$i};
    }
}
