// Grid container:
#rssite-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 20vh;
    gap: clamp(5px, 2vw, 20px);
    width: 90%;
    margin: 20px auto;
}


// Unfocused items:
.gallery-item {
    position: relative;

    img {
        width: 100%; // Structure
        height: 100%;
        object-fit: cover; 
        cursor: pointer; // Style
        position: absolute; // Transition
        left: 0;
        transition: left 1s cubic-bezier(0.2, 0, 0.3, 1);
    }

    &:focus {
        background-color: rgba(0, 0, 0, 0.05);
        transition:
        background-color 0.3s ease-out;
    }

    &:focus img {
        position: fixed; // Structure
        z-index: 1000; 
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%) scale(0.8);
        height: 80%;
        width: auto;
        cursor: default; // Style
    }

    &::before {
        content: ""; // Structure
        position: fixed;  
        top: 50%;
        left: 30%;
        opacity: 0; // Style
        transition: opacity 1s cubic-bezier(0.2, 0, 0.3, 1);
    }

    &:focus::before {
        content: ""; // Structure
        z-index: 999;
        position: fixed;
        top: calc(5% + 10px);
        left: 2%;
        width: 96%;
        height: 90%;
        margin: 20px auto;
        background: rgba(74, 23, 0, 0.71); // Style
        opacity: 1; 
        transition: opacity 0.3s ease-out;
    }
}


// Item span classes:
@for $i from 2 through 4 {
    .w-#{$i} {
        grid-column-end: span #{$i};
    }
    .h-#{$i} {
        grid-row-end: span #{$i};
    }
}
