/* Sections */
#home section h2 {
    text-align: center;
}
.multicolumn div {
    margin: 0 16px 16px 16px;
}

/* Intro */
#intro-flextext {
    margin: 0 16px 16px 0;
    min-width: 350px;
    max-width: calc(100% - 200px - 16px);
}
#intro-fleximg {
    min-width: 50px;
    max-width: 200px;
    height: auto;
    margin: 0;
}
#intro .multicolumn div p {
    margin: 0 0 8px 0;
}

/* Socials */
#socials ul {
    text-align: center;
    background-color: var(--gray);
    border-radius: 4px;
    padding: 16px;
    width: 80%;
    margin: auto;
}
#socials li {
    display: inline-block;
    margin-right: 14px;
}
#socials li::after {
    content: "|";
    margin: 0 0 0 16px;
}
#socials li:last-child::after {
    content: "";
    margin: 0;
}

/* Projects */
#projects .multicolumn {
    align-items: flex-start;
}
#projects .multicolumn div {
    background-color: var(--gray);
    border-radius: 4px;
    padding: 16px 20px 16px 16px;
}
#projects .multicolumn div p {
    margin: 0 0 4px 0;
}
#projects .multicolumn div ul {
    margin: 0;
}
