/* Multicolumn */
.multicolumn {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 16px;
}

/* Sections */
#home section h2 {
    text-align: center;
}
#home section:last-of-type {
    border-bottom: none;
}

/* Intro */
#intro .multicolumn {
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}
@media (max-width: 630px) { #intro .multicolumn { flex-direction: column } }
#intro .column-text {
    max-width: 600px;
    min-width: var(--min-width);
}
#intro .column-img {
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px; 
}
#intro .column-text > p {
    margin: 0 0 8px 0;
}
#intro .column-text p:last-child {
    margin: 0 0 0 0;
}


/* Socials */
#socials a {
    text-decoration: none;
}
#socials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 8px;
    background-color: var(--gray);
    border-radius: 4px;
    padding: 16px;
    width: 80%;
    margin: auto;
    min-width: calc(var(--min-width) - 16px*2);
}
#socials li {
    display: inline-block;
}

/* Projects */
#projects .multicolumn {
    align-items: flex-start;
    justify-content: space-evenly;
}
#projects .column-card {
    padding: 16px 20px 16px 16px;
    background-color: var(--gray);
    border-radius: 4px;
}
#projects .column-card > p {
    margin: 0 0 4px 0;
}
#projects .column-card > ul {
    margin: 0;
    padding: 0 0 0 32px;
}
