/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Navbar */
div.navbar {
    width: 65%;
    margin: auto;
}
nav li {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    margin-right: 10px;
    font-size: larger;
}
.current-page {
    font-weight: bold;
}
nav ul {
    padding: 0;
}

/* Footer */
.footer {
    background-color: #09392b;
    padding: 15px 0 10px 0;
}
footer p {
    width: 65%;
    margin: auto;
    text-align: right;
}
footer a {
    text-decoration: none;
}

/* Sections */
.titlecard {
    background-color: hsl(26, 98%, 45%);
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
main {
    width: 65%;
    margin: auto
}
section {
    border-bottom: 1px solid #ccc;
    padding: 15px 0 25px 0;
}

/* Multicolumn */
.multicolumn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Basic */
body {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    text-align: center;
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #1B9E77;
}
a:visited {
    color: #1B9E77;
}
nav a {
    text-decoration: none;
}
.socials a {
    text-decoration: none;
}
