/* Sections */
section {
    border-bottom: 1px solid #ccc;
    padding: 15px 0 25px 0;
}

/* Intro */
.intro .multicolumn {
    column-count: 2;
    align-items: center;
}

/* Socials */
.socials ul {
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    width: 80%;
    margin: auto;
}
.socials li {
    display: inline-block;
    margin-right: 10px;
}
.socials li::after {
    content: "|";
    margin: 0 0 0 12px;
}
.socials li:last-child::after {
    content: "";
    margin: 0;
}

/* Projects */
.projects .multicolumn {
    column-count: 3;
    padding: 0 60px 0 60px;
    align-items: flex-start;
}
.projects .multicolumn div {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 15px 20px 15px 12px;
}
.projects .multicolumn div p {
    margin: 0 0 5px 0;
}
.projects .multicolumn div ul {
    margin: 0;
}
