
// Variables and Layers:
@use "global/variables" as *;
@layer resets;



// Resets --------------------

@layer resets {
    // Viewport Adjustments:
    html {
        scroll-behavior: smooth; // Smooth scrolling for in-page links
        overscroll-behavior: none; // Prevent scroll chaining and overscroll effects
        //scrollbar-gutter: stable; // Reserve space for scrollbars to prevent layout shifts. Low older support. Using `--vw = document.documentElement.clientWidth / 100` instead
        text-size-adjust: none; // No size increase on switches from landscape to portrait (mobile)
        -webkit-text-size-adjust: none;
        -webkit-tap-highlight-color: transparent;
        -webkit-font-smoothing: antialiased; // Or subpixel-antialiased
        font-synthesis: none;
        -moz-osx-font-smoothing: auto;
    }
    :root {
        font-size: 100%;
    }

    // Box model:
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        border:0;
        outline:0;
        // box-sizing: border-box; // For a box model that includes padding and border in the width and height calculations
        line-height: 1.5; // Also consider other values
    }

    // Typography:
    p, li, a, h1, h2, h3, h4, h5, h6 {
        overflow-wrap: break-word; // Also consider anywhere, that consider soft wrapping opportunities for min-content
        //word-wrap: normal; // The default
        text-wrap: pretty; // Consider `balance` for headings
    }

    // Visual media:
    canvas, img, picture, svg, video {
        border: none;
        display: block;
        max-width: 100%;
    }

    // Form elements:
    input, button, textarea, select, progress {
        background: none;
        border: none;
        //appearance: none; // Possibly too harsh
        touch-action: manipulation;
        font-size: inherit;
    }
}


// Animations:
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


// Some CSS resets considered:
// - https://perishablepress.com/a-killer-collection-of-global-css-reset-styles/
// - https://github.com/necolas/normalize.css/blob/master/normalize.css
// - https://pawelgrzybek.com/the-css-reset-again/
// - https://git.dbushell.com/dbushell/patchwork/src/branch/main/static/css/base/reset.css
// - https://jakelazaroff.com/words/my-modern-css-reset/
// - https://garden.bradwoods.io/notes/css/reset
// - https://gist.github.com/Asjas/4b0736108d56197fce0ec9068145b421
// - https://dbushell.com/2025/09/12/css-reset



// Text styling --------------------

// Fonts:
body {
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--fontblack);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

// Links:
a {
    color: var(--green);
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active a:focus {
    color: var(--green);
}
a:hover, a:active, a:focus {
    text-decoration: underline;
}



// Components of local modules --------------------

#rssite-main.rssite-local {
    // Sections:
    & > section {
        width: var(--main-width);
        margin: 0 auto;
        padding: 2rem 2rem;
        box-sizing: border-box;
        @media (max-width: $media-width-md) {
            padding: 2rem 0.5rem;
        }
    }
    & > section + section {
        border-top: 1px solid var(--darkgray);
    }
    & > section h2 {
        margin: 0 0 2rem 0;
    }

    // Titlecard:
    & > #titlecard {
        padding: 3rem 0;
        background-color: var(--orange);
        color: black;
    }
    & > #titlecard h1 {
        width: var(--main-width);
        margin: 0 auto;
        text-align: center;
        text-wrap: pretty;
    }
}
