
// Variables:
@use "global/variables" as *;



// General structure --------------------

// Base sizes:
body {
    --main-width: min(65%, 80rem);
    @media (max-width: $media-width-lg) {
        --main-width: 80%;
    }
    @media (max-width: $media-width-md) {
        --main-width: min(95%, calc(100% - 1rem)); // NOTE: min-width passed directly to body
    }

    --body-min-width: 16rem;
    min-width: var(--body-min-width);
    
    // Push footer to bottom:
    display: flex;
    flex-direction: column;
    min-height: 100dvh; // NOTE: Also consider 100vh
    #rssite-main {
        flex-grow: 1;
        min-width: var(--body-min-width);
    }
}



// Resets --------------------

// These are already included in global_style.scss, but with 0 specificity
// I increase it here as these components live also in external projects
#rssite-header, #rssite-footer {
    *, *::before, *::after {
        margin: 0;
        padding: 0;
        border:0;
        outline:0;
        box-sizing: content-box;
        line-height: 1.5; // Also consider other values
    }
}
#rssite-main {
    margin: 0;
    padding: 0;
    border:0;
    outline:0;
}


// Header --------------------

#rssite-header {
    min-width: var(--body-min-width);
    display: flex; // TODO: disallow wrapping
    padding: 1rem 0;
    align-items: center; // NOTE: Also consider stretch
    border-bottom: 4px solid var(--orange);
    background-color: white;

    // Text style:
    * {
        font-size: 1.3rem;
        line-height: 1;
        font-family: "Montserrat", sans-serif;
    }

    // Header children:
    nav {
        flex: 0 0 var(--main-width);
    }
    &::before, &::after {
        content: "";
        flex: 1 1;
        height: 1em;
        margin: 0 2rem;
        background-color: var(--orange);
        @media (max-width: $media-width-lg) {
            flex: 0 0 2rem;
            margin: 0 auto;
        }
        @media (max-width: $media-width-md) {
            flex: 0 0 0;
            margin: 0 auto;
        }
    }

    // First level items:
    nav > ul {
        & > li {
            display: inline-block;
        }
        & > li + li {
            margin-left: 2rem;
        }
    }

    // Nav dropdowns (second level):
    .nav-drop {
        border: 1px solid var(--orange);
        border-radius: 4px;
        position: relative; // To set min-width below

        ul {
            position: absolute;
            min-width: 100%;
            box-sizing: border-box; // To include padding of .nav-drop
            z-index: 100;
            padding: 0.5rem;
            list-style: none;
            background-color: white;
            border: 1px solid var(--orange);
            border-radius: 4px;
            visibility: hidden; // Animation
            opacity: 0;
            height: 0;
            transition: max-height 1s ease, opacity 0.1s ease-out;
            overflow: hidden;
        }

        li {
            padding-left: 0.5rem;
        }
        li + li {
            margin-top: 0.5rem;
        }
        a {
            font-size: 1.1rem;
        }

        button {
            display: flex;
            padding: 0.25rem 0.5rem;
            color: var(--green);
            cursor: default; // Could be changed in some external projects
        }
        button::after {
            content: "";
            height: 1em;
            width: 1em;
            margin-left: 0.25rem;
            background-image: url("#icon-hamburger");
            background-size: contain;
            background-repeat: no-repeat;
            vertical-align: top;
        }
    }


    // Animations:
    .nav-drop:hover ul, .nav-drop:focus-within ul {
        visibility: visible;
        opacity: 0.95;
        height: auto;
    }
    .nav-li a[aria-current="page"], .nav-drop button[aria-current="page"]  {
        font-weight: bold;
    }
    .nav-drop button[aria-current="page"] svg {
        transform: scale(1.2);
        fill: var(--darkgreen);
    }


    // Icon:
    button svg {
        display: none; // Hidden by default
        fill: var(--green);
    }
    @media (max-width: $media-width-lg) {
        ul > .nav-drop button {
            // Hide the text:
            color: transparent;
            font-size: 0;

            // Show the icon instead:
            svg {
                display: inline;
                height: 1em;
                width: 1em;
            }
        }
    }        
}



// Footer --------------------

#rssite-footer {
    background-color: var(--darkgreen);
    padding: 1rem 0 0.5rem 0;
    min-width: var(--body-min-width);

    p {
        width: var(--main-width);
        margin: auto;
        text-align: right;
        color: var(--darkgray);
    }

    a {
        color: var(--darkgray);
        text-decoration: none;
    }
    a:hover {
        color: var(--gray);
    }

    a, a svg {
        display: inline-block;
        vertical-align: top;
    }
    a svg {
        height: 1.5em; // Match a height
        width: 1.2em; // Actual size
        margin-left: 0.25rem;
        fill: var(--darkgray);
    }
}
