/* Assets: */
.row-hfill {
    display: flex;
    justify-content: space-between;
}


/* Main: */
main {
    --cv-pad: 32px;
}
@media (max-width: 620px) { main {--cv-pad: 8px} }


/* Education */
#education table {
    padding: 0 0 0 var(--cv-pad);
    border-spacing: 10px
}


/* Experience */
#experience ul {
    padding: 0 0 0 var(--cv-pad);
    margin: 0;
}
.job:last-child {
    margin-bottom: 0;
}
.job {
    list-style-type: none; 
    margin: 0 0 1rem 0;
}
.job h3 {
    margin: 0 0 0.5rem 0;
}
.job .row-hfill {
    margin: 0 0 0.25rem 0;
}
.job .row-hfill > * {
    margin: 0;
}
.job > p {
    margin: 0;
}


/* Projects */
#projects ul {
    margin: 0;
    padding: 0 0 0 var(--cv-pad);
}
.project {
    margin: 0 0 0.5rem 1em;
}
.project:last-child {
    margin-bottom: 0;
}
.project > p {
    margin: 0.25rem 0 0 0;
}


/* Others */
#others ul {
    padding: 0 0 0 var(--cv-pad);
    margin: 0 0 0 1rem;
}
#others li {
    margin: 0 0 0.5rem 0;
}
#others li:last-child {
    margin: 0 0 0 0;
}


/* CV Download */
#cv-download > p {
    margin: 0;
}
