# Build jobs configuration

# Each top-level element is a 'job', with three sections:
# - fetch: a string with a path relative to the project root
# - build: a dictionary with each build 'step' and its parameters
#   - See the functions in dev/jobs.py for available steps and parameters
#   - Parameters not specified imply default values
# - deploy: with the navbar text (if applicable) and target path relative to site root (_dist/)

# Sitemap:
sitemap:
  source: static/sitemap.xml
  target: static/sitemap.xml
  steps:
    build_sitemap: sitemap

# Index page:
index:
  source: src/index
  target: _dist
  steps:
    build_navbar: {label: Home}
    inject_template: {}
    assets_compile: {subsource: module, subtarget: index, type: "css", include: "\\.scss"}
    assets_move: {subsource: module, subtarget: index, exclude: "\\.scss"}


# CV:
cv:
  source: src/cv
  target: _dist/cv
  steps:
    build_navbar: {label: CV}
    inject_template: {}
    assets_compile: {subsource: module, type: "css", include: "\\.scss"}
    assets_move: {subsource: module, exclude: "\\.scss"}


# Gallery:
gallery:
  source: src/gallery
  target: _dist/gallery
  steps:
    build_navbar: {label: Gallery}
    inject_template: {}
    assets_compile: {subsource: module, type: "css", include: "\\.scss"}
    assets_move: {subsource: module, exclude: "\\.scss"}

# Blog:
blog:
  source: ""
  target: ""
  steps:
    build_navbar: {subsource: src/blog, subtarget: _dist/blog, label: Blog}
    inject_project: quartoblog
    quarto_blog: {subsource: src/blog}
    adjust_links: {subsource: _dist/blog, attr: "href", replace: {"\\.\\.?/assets/": "/assets/"}}
    #assets_compile: {subsource: module, subtarget: _dist/blog, type: "css", include: "\\.scss"}
    #assets_move: {subsource: module, subtarget: _dist/blog, exclude: "\\.scss"}


# External projects:
rfcd:
  source: _dist/library/rfcd
  target: _dist/library/rfcd
  steps:
    build_navbar: {label: RFCD, drop_label: Library}
    inject_project: rsbookdown
    assets_remove: pkg-bookdown
phyopt:
  source: _dist/tools/phyopt
  target: _dist/tools/phyopt
  steps:
    build_navbar: {label: phyopt, drop_label: Tools}
    inject_project: rspkgdown
    assets_remove: pkg-bookdown
mtsdesc:
  source: _dist/tools/mtsdesc
  target: _dist/tools/mtsdesc
  steps:
    build_navbar: {label: mtsdesc}
    inject_project: rspkgdown
    assets_remove: pkg-bookdown

# Assets:
static_root:
  source: static
  target: _dist
  steps:
    assets_move: {include: "404\\.html|robots\\.txt|sitemap\\.xml"}
static_assets:
  source: static
  target: _dist/assets/img
  steps:
    assets_move: {include: "img$"}
global:
  source: src/global
  target: _dist/assets
  steps:
    assets_compile: {type: "css", include: "\\.scss"}
    assets_move: {exclude: "\\.scss|components\\.html", flatten: True}
  deploy:
global_site:
  source: _dist/assets
  target: _dist/assets
  steps:
    assets_merge: {
      subtarget: global.css,
      include: [palette.css, global_style.css, global_structure.css]
    }
