# Notes --------------------

# Falar q paths starting with / override the source/target base paths

# Each top-level element is a 'job', with three sections:
# - source: a string with a path relative to the project root
# - target: with the navbar text (if applicable) and target path. These will be combined with the subsource and subtarget parameters
# - build: a dictionary with each build 'step' and its parameters
#   - See the functions in dev/jobs.py for available steps and parameters
#   - Parameters not specified imply default values



# Initialization --------------------

# Site structure (_site folder):
site_structure:
  source: config/jobs.yaml # The targets information on this file
  target: _site
  steps:
    build_site_structure: {}

# Note that the navbar component might need updating. Commit 092a29a04e1da135d1fbd7d0782bd3907076b82b
# has the `build_navbar()` function, but I currently prefer to manually update it



# Content Jobs --------------------

# Index page:
index:
  source: src/index
  target: _site
  steps:
    inject_template: {}
    assets_compile: {subsource: module, subtarget: index, type: "css"}
    assets_move: {subsource: module, subtarget: index, exclude: "\\.(scss|html)"}

# Blog:
blog:
  source: "src/blog"
  target: "_site/blog"
  steps:
    build_quarto_blog: {}
    inject_project: quartoblog
    inject_template: {subsource: /_site/blog}
    assets_compile: {subsource: module, type: "css"}
    assets_move: {subsource: module, exclude: "\\.(scss|html)"}

# CV:
cv:
  source: src/cv
  target: _site/cv
  steps:
    inject_template: {}
    assets_compile: [
      {subsource: module, type: "css"},
      {subsource: module, type: "latex"}
    ]
    assets_move: {subsource: module, exclude: "\\.(scss|html|tex)"}

# Gallery:
gallery:
  source: "src/gallery"
  target: _site/gallery
  steps:
    inject_template: {}
    build_gallery: {
      subsource: /_site/gallery, fill_holes: false,
      ncols: 6, ndraws: 1000, prefs_h: ["true"], prefs_w: [] # Also consider ["ne", "true"]
    }
    assets_compile: {subsource: module, type: "css"}
    assets_move: {subsource: module, exclude: "\\.(scss|html)"}

# External projects:
rfcd:
  source: _site/library/rfcd
  target: _site/library/rfcd
  steps:
    fetch_external_data: rfcd
    inject_project: rsbookdown
    assets_remove: pkg/bookdown
phyopt:
  source: _site/tools/phyopt
  target: _site/tools/phyopt
  steps:
    fetch_external_data: phyopt
    inject_project: rspkgdown
    assets_remove: pkg/bookdown
mtsdesc:
  source: _site/tools/mtsdesc
  target: _site/tools/mtsdesc
  steps:
    fetch_external_data: mtsdesc
    inject_project: rspkgdown
    assets_remove: pkg/bookdown



# Assets Jobs --------------------

# Assets:
static_assets:
  source: static
  target: _site
  steps:
    assets_move: [
      {include: "404\\.html|robots\\.txt"},
      {subtarget: "assets/img", include: "img$"},
      {subtarget: "assets/fonts", include: "fonts$"},
    ]

global_assets:
  source: src/global
  target: _site/assets
  steps:
    assets_compile: {type: "css", exclude: "variables\\.scss"}
    assets_move: {exclude: "\\.scss|components\\.html", flatten: True}
    assets_merge: {
      subsource: /_site/assets, subtarget: global.css,
      include: [global_imports.css, global_style.css, global_structure.css]
    }
    
# external_assets: # Currently not needed
#   source: src/external
#   target: _site
#   steps:
#     assets_compile: {subtarget: tools, type: "css", include: "rspkgdown\\.scss"}

# Sitemap:
sitemap:
  source: config/jobs.yaml
  target: _site/sitemap.xml
  steps:
    build_sitemap: sitemap
