# Inject components into external projects' files
# - The step has variable length arguments, one for each component to inject
# - Each `arg`'s key is a component name, and the values are dictionaries with:
#   - position: "before" | "after" (relative to the selector)
#   - selector: a CSS selector to identify where to inject the component
inject_project:
  rsbookdown: {
    components: {
      site-main-rsbookdown: {position: "wrap", selector: "body > div.container-fluid"},
      site-header: {position: "before", selector: "#rssite-main"},
      site-footer: {position: "after", selector: "#rssite-main"},
      site-scripts: {position: "after", selector: "#rssite-footer"}
    }
  }
  rspkgdown: {
    components: {
      site-main-rspkgdown: {position: "wrap", selector: "#site-main"},
      site-header: {position: "before", selector: "#rssite-main"}, 
      site-footer: {position: "after", selector: "#rssite-main"},
      site-scripts: {position: "after", selector: "#rssite-footer"}
    }
  }
  quartoblog: {
    subsource: _dist/blog,
    components: {
      rsquartoblog-meta: {position: "append", selector: "head"},
      site-main-quartoblog: {position: "wrap", selector: "#quarto-content"},
      site-header: {position: "before", selector: "#quarto-search-results"},
      site-footer: {position: "after", selector: "#rssite-main"},
      site-scripts: {position: "after", selector: "#rssite-footer"}
    }
  }

assets_remove: {
  pkg-bookdown: [
    {subsource: assets, include: "global\\.(js|css)"},
    {include: "sitemap\\.xml"}
  ]
}

build_sitemap:
  sitemap: {
    exclude: "(404|LICENSE.*|authors)\\.html",
    sep_external: False,
    external: [library/rfcd, tools/phyopt, tools/mtsdesc],
    priority: {
      index.html: 1.0,
      cv/index.html: 0.5,
      blog/index.html: 0.5,
      library/rfcd/index.html: 0.8,
      tools/phyopt/index.html: 0.8,
      tools/mtsdesc/index.html: 0.8,
    },
    changefreq: {}
  }
# changefreq options: always, hourly, daily, weekly, monthly, yearly and never