# Inject components into external projects' files
# - The step has variable length arguments, one for each component to inject
# - Each `arg`'s key is a component name, and the values are dictionaries with:
#   - position: "before" | "after" (relative to the selector)
#   - selector: a CSS selector to identify where to inject the component
inject_project:
  rsbookdown:
    components: {
      rsbookdown-site-main: {position: "wrap", selector: "#rsbookdown-main"},
      site-header: {position: "before", selector: "#rssite-main"},
      site-scripts: {position: "after", selector: "#back-to-top"},
      rssite-external: {position: "addclass", selector: "body"}
    }
  rspkgdown:
    components: {
      #rspkgdown-meta: {position: "append", selector: "head"},
      rspkgdown-site-main: {position: "wrap", selector: "#rspkgdown-main"},
      site-header: {position: "before", selector: "#rssite-main"},
      site-scripts: {position: "after", selector: "#back-to-top"},
      rssite-external: {position: "addclass", selector: "body"}
    }
  quartoblog:
    subsource: /_dist/blog
    components: {
      rsquartoblog-meta: {position: "append", selector: "head"},
      quartoblog-site-main: {position: "wrap", selector: "#quarto-content"},
      site-header: {position: "before", selector: "#quarto-search-results"},
      rsquartoblog-footer: {position: "after", selector: "#rssite-main"},
      site-scripts: {position: "after", selector: "#rssite-footer"}
    }

assets_remove:
  pkg/bookdown: [
    {subsource: assets, include: "global\\.(js|css)"},
    {include: "sitemap\\.xml"}
  ]

fetch_external_data:
  rfcd:
    remote:
      repo: ricardo-semiao/course-rfcd
      branch: main
      folder: docs
    local: PATH_LOCAL_RFCD
    target: _dist/library/rfcd
    update_required: true
    use_remote: false
  phyopt:
    remote:
      repo: ricardo-semiao/phyopt
      branch: main
      folder: docs
    local: PATH_LOCAL_PHYOPT
    target: _dist/tools/phyopt
    update_required: true
    use_remote: false
  mtsdesc:
    remote:
      repo: ricardo-semiao/mtsdesc
      branch: main
      folder: docs
    local: PATH_LOCAL_MTSDESC
    target: _dist/tools/mtsdesc
    update_required: true
    use_remote: false

build_sitemap:
  sitemap: {
    exclude: "(404|LICENSE.*|authors)\\.html",
    sep_external: False,
    external: [library/rfcd, tools/phyopt, tools/mtsdesc],
    priority: {
      index.html: 1.0,
      cv/index.html: 0.5,
      blog/index.html: 0.5,
      library/rfcd/index.html: 0.8,
      tools/phyopt/index.html: 0.8,
      tools/mtsdesc/index.html: 0.8,
    },
    changefreq: {}
  }
# changefreq options: always, hourly, daily, weekly, monthly, yearly and never