/* Navbar */
nav li {
    font-family: 'Montserrat', sans-serif;
}
nav a {
    text-decoration: none;
}
div#site-header-container {
    margin: 16px 0 0 0;
    line-height: 1;
}
#site-header nav {
    width: var(--main-width);
    margin: 0 auto 16px auto;
}
#site-header nav li {
    display: inline-block;
    margin-right: 16px;
    font-size: 1.3rem;
}
#site-header .current-page {
    font-weight: bold;
}
#site-header nav ul {
    padding: 0;
    margin: 0;
}
#site-header hr {
    margin: 0 0 4px 0;;
    border: 0;
    border-top: 4px solid var(--orange);
}

/* Footer */
#site-footer {
    background-color: var(--darkgreen);
    padding: 16px 0 8px 0;
}
#site-footer p {
    width: var(--main-width);
    margin: auto;
    text-align: right;
    color: var(--darkgray);
}
#site-footer a {
    color: var(--darkgray);
    text-decoration: none;
}
#site-footer a:hover {
    color: var(--gray);
}
