/* Navbar */
#site-header {
    --blocks-padding: 2rem;
    padding: 1rem var(--blocks-padding) 1rem var(--blocks-padding);
    border-bottom: 4px solid var(--orange);
    margin: 0 0 4px 0;
    min-width: var(--min-width);
    line-height: 1;
    display: flex;
    gap: var(--blocks-padding)
}
#site-header .header-block {
    background-color: var(--orange);
    width: calc((100% - var(--main-width)) / 2 - 2 * var(--blocks-padding));
}
#site-header nav {
    width: var(--main-width);
    margin: 0 auto 0 0;
}

#site-header nav ul {
    padding: 0;
    margin: 0;
    line-height: 1;
}
#site-header nav li {
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.3rem;
}
#site-header nav .current-page {
    font-weight: bold;
}


/* Footer */
#site-footer {
    background-color: var(--darkgreen);
    padding: 1rem 0 0.5rem 0;
    min-width: var(--min-width);
}
#site-footer p {
    width: var(--main-width);
    margin: auto;
    text-align: right;
    color: var(--darkgray);
}
#site-footer a {
    color: var(--darkgray);
    text-decoration: none;
}
#site-footer a:hover {
    color: var(--gray);
}


/* Titlecard */
#titlecard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    min-height: calc(8rem - 4px);
    min-width: var(--min-width);
    color: black;
}
#titlecard h1 {
    margin: 0;
    text-align: center;
}
