/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Variables */
@import url('/site_assets/palette.css');

:root {
    --main-width: 65%;
    --min-width: 250px;
}
@media (max-width: 920px) { :root {--main-width: 80%} }
@media (max-width: 740px) { :root {--main-width: 95%} }

/* Basic */
html, body {
    height: 100%;
    margin: 0;
    min-width: var(--min-width);
}
body {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--fontblack);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
a {
    color: var(--green);
}
a:hover {
    color: var(--green);
}


/* Home and CV */
main#home, main#cv {
    width: var(--main-width);
    margin: auto;
    padding: 0;
    min-width: var(--min-width);
}

#home section, #cv section {
    border-bottom: 1px solid var(--darkgray);
    padding: 32px 0 32px 0;
    margin: 0;
}

#home section h2, #cv section  h2 {
    margin: 0 0 16px 0;
}
