
// Variables:
@use "global/variables" as *;


// Main --------------------

@font-face {
  font-display: fallback;
  font-family: "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/NotoColorEmoji-flagsonly.ttf") format("truetype");
}


#rssite-main {
    margin-top: 4px;

    --cv-pad: 2rem;
    @media (max-width: $media-width-lg) {
        --cv-pad: 1rem;
    }
    @media (max-width: $media-width-md) {
        --cv-pad: 0.5rem;
    }
}


// Education:
#education dl {
    margin-left: var(--cv-pad);
    display: grid;
    grid-template-columns: 15ch 1fr;
    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }

    dt {
        font-weight: bold;
    }
    dt:not(:last-child), dd:not(:last-child) {
        margin-bottom: 1rem;
    }
    dd > p:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    @media (max-width: 600px) {
        dt:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
#education .cv-div {
    padding: 0 0.25rem;
    &::before {
        content: "⫶";
    }
}


// Experience:
#experience {
    ul {
        margin-left: var(--cv-pad);
    }
    .job {
        list-style-type: none;
        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .j-title {
            margin-bottom: 0.5rem;
        }
        .j-wherewhen {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            margin-bottom: 0.25rem;
        }
        .j-wherewhen * {
            font-style: italic;
        }
    }
}


// Lists:
#projects, #awards, #others {
    ul {
        margin-left: var(--cv-pad);
    }
    li {
        margin-left: 1em;
    }
    li:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    
    .award {
        margin-top: 0.25rem;
    }
    .award, .award svg {
        display: inline-block;
        vertical-align: top;
    }
    .award svg {
        height: 1.5em;
        width: 1.2em;
        margin-left: 0.25rem;
    }
}


// CV Download:
#cv-download {
    & > p {
        font-weight: bold;
        font-size: 1.1em;
        margin-bottom: 1rem;
    }
    .d-options {
        margin-left: 1rem;
        p {
            display: inline-block;
        }
    }
    .flag-icon {
        font-family: "Noto Color Emoji";
        display: inline-block;
        margin-right: 0.25rem;
    }
    .d-div {
        padding: 0 0.25rem;
        &::before {
            content: "|";
        }
    }
}