
// Variables:
@use "global/variables" as *;


// Main --------------------

main {
    margin-top: 4px;

    --cv-pad: 2rem;
    @media (max-width: $media-width-lg) {
        --cv-pad: 1rem;
    }
    @media (max-width: $media-width-md) {
        --cv-pad: 0.5rem;
    }
}


// Education:
#education {
    table {
        margin-left: var(--cv-pad);

        tr:not(:first-child) td {
            padding-top: 1rem;
        }
        td + td {
            padding-left: 1rem;
        }
    }
}


// Experience:
#experience {
    ul {
        margin-left: var(--cv-pad);
    }
    .job {
        list-style-type: none;
        & + .job {
            margin-top: 1rem;
        }

        .j-title {
            margin-bottom: 0.5rem;
        }
        .j-wherewhen {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            margin-bottom: 0.25rem;
        }
    }
}


// Lists:
#projects, #awards, #others {
    ul {
        margin-left: var(--cv-pad);
    }
    li {
        margin-left: 1em;
    }
    li + li {
        margin-top: 0.5rem;
    }
    .award {
        margin-top: 0.25rem;
    }
}
