@charset "UTF-8";
/* Footer */
#rssite-footer .footer-div {
  padding: 0 0.25rem;
}

#rssite-footer .footer-div::before {
  content: "+";
}

/* Back to top */
#back-to-top {
  display: none;
  position: fixed;
  bottom: 50px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.2rem 0.5rem #6c757d, 0 0 0.05rem #6c757d;
  color: var(--green);
  text-decoration: none;
  font-size: 0.9em;
  text-align: center;
  left: 50%;
  padding: 0.4rem 0.8rem;
  transform: translate(-50%, 0);
}

/* Rules */
.double-hrule {
  border-top: 2.5px solid var(--orange);
  border-bottom: 2.5px solid var(--orange);
  height: 6px;
  margin: 2em 0 0 0;
}

.single-hrule {
  border-top: 1px solid var(--orange);
  width: 90%;
}

/* Navbars */
@media (min-width: 1200px) {
  .sidebar {
    max-width: 17rem;
  }
}
.chapter-nav {
  margin-bottom: 0.5rem;
}

.book-part.collapsed::after {
  content: " ►";
  color: var(--darkgreen);
}

.book-part:not(.collapsed)::after {
  content: " ▼";
  color: var(--darkgreen);
}

#main-nav li a[href^=intro]::before {
  content: "‒ ";
  color: var(--darkgray);
}

#main-nav li a[href^=introduction]::before {
  content: none;
}

#main-nav li a[href^=recap]::before {
  content: "⤷ ";
  color: var(--darkgray);
}

.header-section-number {
  color: var(--blackgray);
}

button.btn.btn-outline-primary {
  margin: 0 !important;
  width: 35px;
  height: 29px;
  background-image: url('data:image/svg+xml;utf8,<svg width="800px" height="800px" viewBox="0 0 72 72" id="emoji" xmlns="http://www.w3.org/2000/svg"><g id="line"><line x1="12" x2="62" y1="19" y2="19" fill="none" stroke="%23004d37" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"/><line x1="12" x2="62" y1="36" y2="36" fill="none" stroke="%23004d37" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"/><line x1="12" x2="62" y1="53" y2="53" fill="none" stroke="%23004d37" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="4"/></g></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border-color: var(--green);
}

button.btn.btn-outline-primary:hover {
  background-color: var(--orange);
}

/* Code */
pre {
  margin-left: 0;
  margin-right: 0;
}

.btn.btn-copy {
  background-color: var(--lightgray);
  right: 0;
  padding: 2px 3px 2px 3px;
  margin: 4px 4px 0 0;
}

div.sourceCode > button {
  filter: opacity(80%);
}

/* Figures and Captions */
p.caption {
  color: var(--blackgray);
}

caption {
  padding: 0;
  margin-top: 1em;
  color: var(--blackgray);
}

.figure {
  border-top: none;
  border-bottom: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.section .figure:last-child {
  margin-bottom: 0;
}

.inline-figure {
  text-align: center;
  padding: 0.5rem 0;
}

.result.inline-figure {
  border: none;
}

.ex.inline-figure {
  border: none;
}

.warn.inline-figure {
  border: none;
}

.drill.inline-figure {
  border: none;
}

/* Lists */
li > p:not(:last-child) {
  margin-bottom: 0;
}

main ol, main ul {
  margin-bottom: 1em;
}

ol ol, ul ul {
  margin-bottom: 0;
}

p + ol, p + ul {
  margin-top: -0.5em;
}

ol p + ol, ul p + ul {
  margin-top: 0;
}

ol + ul li:first-child, ul + ol li:first-child {
  margin-top: 0;
}

/* Tables */
.table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.9em;
}

[id^=complemento] .table {
  width: 100%;
}

[id^=complemento] .table tr td:nth-child(1) {
  white-space: nowrap;
}

table tr:nth-child(2n) {
  background-color: var(--lightgray);
}

table tr:nth-child(2n-1) {
  background-color: var(--gray);
}

table th {
  background-color: var(--darkgray);
}

/* Custom items */
.obs, .extra {
  margin: 0 0 1rem 0;
  padding: 0 0 0 25px;
}

.obs p, .extra p {
  display: inline;
  font-size: 90%;
}

.obs::before {
  content: "💬 Observação: ";
  font-size: 90%;
  font-style: italic;
}

.extra::before {
  content: "🔍 Extra: ";
  font-size: 90%;
  font-style: italic;
}

.lesser {
  margin: 0 0 1rem 0;
}

.lesser p {
  display: block;
  font-size: 90%;
  position: relative;
  margin-left: 25px;
}

.lesser::before {
  content: "➔";
  font-size: 90%;
  position: absolute;
  left: 1;
  top: 1;
}

/* Custom blocks */
.result, .ex, .warn, .drill {
  padding: 0.5rem;
  border-radius: 0.2rem;
  margin: 0 0 1rem 0;
}

.result p, .ex p, .warn p {
  margin-bottom: 0.5rem;
}

.result p:first-child, .ex p:first-child, .warn p:first-child {
  display: inline;
}

.result *:nth-child(2), .ex *:nth-child(2), .warn *:nth-child(2) {
  margin-top: 0.5rem;
}

.result *:last-child, .result *:last-child pre {
  margin-bottom: 0;
}

.result pre, .result .inline-figure {
  border: none;
}

.result a {
  color: var(--darkgreen);
}

.ex *:last-child, .ex *:last-child pre {
  margin-bottom: 0;
}

.ex pre, .ex .inline-figure {
  border: none;
}

.ex a {
  color: var(--darkgreen);
}

.warn *:last-child, .warn *:last-child pre {
  margin-bottom: 0;
}

.warn pre, .warn .inline-figure {
  border: none;
}

.warn a {
  color: var(--darkgreen);
}

.drill *:last-child, .drill *:last-child pre {
  margin-bottom: 0;
}

.drill pre, .drill .inline-figure {
  border: none;
}

.drill a {
  color: var(--darkgreen);
}

.result {
  background-color: var(--lightgreen);
}

.result::before {
  content: "📝 Resultado - ";
  font-weight: bold;
}

.result code, .result pre {
  background-color: var(--aquagreen);
}

.ex {
  background-image: none;
  background-color: var(--lightyellow);
}

.ex::before {
  content: "✏️ Exemplo: ";
  display: inline;
  font-weight: bold;
}

.ex code, .ex pre {
  background-image: none;
  background-color: var(--aquayellow);
}

.warn {
  background-color: var(--lightorange);
}

.warn::before {
  content: "⚠️ Aviso: ";
  font-weight: bold;
}

.warn code, .warn pre {
  background-image: none;
  background-color: var(--aquaorange);
}

.drill {
  background-color: var(--lightorange);
}

.drill code, .drill pre {
  background-image: none;
  background-color: var(--aquaorange);
}

.drill li::marker {
  font-weight: bold;
}
