
// Variables:
@use "global/variables" as *;


// Assets --------------------

.multicolumn {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 1rem;
}



// Main --------------------

#rssite-main {
    margin-top: 4px;
}
#rssite-main > section h2 {
    text-align: center;
}



// Intro --------------------

#intro {
    .multicolumn {
        align-items: center;
        flex-wrap: nowrap;

        justify-content: space-evenly;
        flex-direction: row;
        @media (max-width: $media-width-md) {
            flex-direction: column;
            justify-content: center;
        }
    }

    .column-text {
        max-width: 36rem;
        min-width: 12rem;
    }
    .column-img {
        min-width: 8rem;
        min-height: 8rem;
        max-width: 12rem;
        max-height: 12rem; 
    }
    #intro .column-text > p + p {
        margin-top: 0.5rem;
    }
}



// Socials --------------------
#socials {
    ul {
        display: flex; // Structure
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto;
        width: 80%;
        background-color: var(--gray); // Style
        gap: 1rem;
        border-radius: 4px;
        padding: 1rem;
    }
    li {
        display: inline-block;
    }
    
    a, svg {
        display: inline-block;
        vertical-align: top;
    }
    svg {
        width: 1lh;
        height: 1lh;
        margin-right: 0.25rem;
        fill: var(--green);
    }
}



// Projects --------------------

#projects {
    .multicolumn {
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .column-card {
        padding: 1rem calc(1rem + 4px) 1rem 1rem;
        background-color: var(--gray);
        border-radius: 4px;
    }
    .column-card > p {
        margin-bottom: 0.5rem;
    }
    .column-card > ul {
        padding-left: 2rem;
    }
    .column-card > ul li + li {
        margin-top: 0.25rem;
    }

    // .column-card li {
    //     height: min-content;
    // }
    a, button.tooltip-controller {
        display: inline-block;
        vertical-align: top;
    }
    button.tooltip-controller {
        height: 1.5em; // Match a height
        width: 0.8em; // Actual size
        margin-left: 0.25rem;
    }
    a {
        overflow-wrap: anywhere;
    }
    button.tooltip-controller svg {
        height: 100%;
    }
}

.projects-tooltip {
    position: absolute;
    z-index: 100;
    width: fit-content;
    max-width: min(var(--main-width), 20rem);
    min-width: 8rem;
    
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.1);
    background-color: color-mix(in srgb, var(--lightgray) 90%, transparent);
    padding: 1rem;

    visibility: hidden;
    &[aria-hidden="false"] {
        visibility: visible;
    }

    .pt-title {
        color: var(--green);
        font-weight: bold;
        font-size: 1.1em;
        border-bottom: 1px solid var(--darkgray);
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
    }
    
    .pt-text {
        font-size: 0.9em;
    }
}
