// Bootstrap uses important in its link colorings
a:link, a:visited, a:hover, a:active a:focus {
    color: var(--green) !important;
}

h5, .quarto-listing-category-title { // Two different selectors for the same thing
    font-size: 1.1rem;
    margin-top: 1rem;
}